<!DOCTYPE html>
<html lang="ZH">

	<head>
		<meta charset="UTF-8">
		<title>管理首页</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/index.css" />
		<!-- 先引入 Vue -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<!-- 引入组件库 -->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="index">
			<div class="wrapper">
				<!-- 头部start -->
				<div class="header">
					<div class="logo">
						后台管理系统
					</div>
				</div>
				<!-- 头部end -->
				<!-- 左边导航栏start -->
				<!--<el-row>-->
					<!--<el-col :span="2">-->
					<div id="sidebar">
						<el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#324157" active-text-color="#ffd04b" text-color="#fff" style="border: 0;">
						<el-menu-item index="1" @click="addTab('1','首页', 'page/index.html')">
							<template slot="title"><i class="el-icon-message"></i>首页</template>
						</el-menu-item>
						<el-submenu index="2">
							<template slot="title"><i class="el-icon-setting"></i>系统管理</template>
							<el-menu-item index="2-1" @click="addTab('3','用户管理', 'page/table.html')"><i class="el-icon-user"></i>用户管理</el-menu-item>
							<el-menu-item index="2-2" @click="addTab('4','留言', 'page/feedback.html')"><i class="el-icon-user"></i>留言</el-menu-item>
							<el-menu-item index="2-3" @click="addTab('5','树形表格', 'page/tree-table.html')"><i class="el-icon-user"></i>树形表格</el-menu-item>
							<el-menu-item index="2-4" @click="addTab('6','查看日记', 'page/log.html')"><i class="el-icon-user"></i>查看日记</el-menu-item>
						</el-submenu>
						</el-menu>
					</div>
					
					<!--</el-col>-->
					<!--<el-col :span="21" id="tabs">-->
						<div id="tabs">
							<!-- 第一个tab标签页不能被关闭，使用v-bind标签实现 -->
							<el-tabs v-model="activeTabId" type="card"  v-bind:closable="activeTabId !== '1'" @tab-remove="removeTab">
							  <el-tab-pane
							    v-for="(item, index) in tabs"
							    :key="item.id"
							    :label="item.name"
							    :name="item.id"
							  >
							  <div class="content" :id="item.id">
							  	{{item.content}}
							  </div>
							  </el-tab-pane>
						</div>
					
						
					<!--</el-col>-->
				<!--</el-row>-->
				<!-- 内容区start -->
				<!--<div class="content">
				</div>-->
				<!-- 内容区end -->
				<!--<div class="footer">
					<span>© 2017 Autumn</span>
				</div>-->
			</div>
		</div>
	</body>
	<!-- 先引入 Vue -->
	<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
	<!-- 引入组件库 -->
	<!--<script src="http://127.0.0.1/js/lib/element-ui/index.js"></script>-->
	<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>