<html lang="ZH">
<div id="table">
	<div class="handle-box">
		<el-select v-model="value" placeholder="请选择">
			<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
			</el-option>
		</el-select>
		<el-input v-model="input" style="width: 200px;" placeholder="请输入内容"></el-input>
		<el-input v-model="tree" style="width: 200px;" @focus="showTree($event)" placeholder="请选择部门"></el-input>
	</div>
	<div class="toolbar">
		<el-button type="primary" size="small" icon="search">搜索</el-button>
		<el-button type="primary" size="small" icon="add" @click="dialogFormVisible = true">添加</el-button>
		<el-button type="primary" size="small" icon="delete">批量刪除</el-button>
		<el-button size="small" @click="toggleSelection([tableData3[1], tableData3[2]])">切换第二、第三行的选中状态</el-button>
		<el-button size="small" @click="toggleSelection()">取消选择</el-button>
	</div>
	<div class="table">
		<el-table height="500" ef="table" :data="tableData3" border tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :default-sort="{prop: 'date', order: 'descending'}">
			<el-table-column type="selection" width="55">
			</el-table-column>
			<el-table-column label="日期" sortable width="120">
				<template scope="scope">{{ scope.row.date }}</template>
			</el-table-column>
			<el-table-column prop="name" label="姓名" sortable width="120">
			</el-table-column>
			<el-table-column prop="address" label="地址" show-overflow-tooltip>
			</el-table-column>
			<el-table-column label="操作" fixed="right">
				<template scope="scope">
					<el-button type="success" size="small">编辑</el-button>
					<el-button type="error" size="small">删除</el-button>
				</template>
			</el-table-column>

		</el-table>
		<div class="pagination">
			<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="4000">

			</el-pagination>
		</div>
	</div>
	<el-dialog title="收货地址" :visible.sync="dialogFormVisible" :close-on-click-modal=false :close-on-press-escape=false :show-close=false>
		<el-form :model="form">
			<el-form-item label="活动名称" :label-width="formLabelWidth">
				<el-input v-model="form.name" auto-complete="off"></el-input>
			</el-form-item>
			<el-form-item label="活动区域" :label-width="formLabelWidth">
				<el-select v-model="form.region" placeholder="请选择活动区域">
					<el-option label="区域一" value="shanghai"></el-option>
					<el-option label="区域二" value="beijing"></el-option>
				</el-select>
			</el-form-item>
		</el-form>
		<div slot="footer" class="dialog-footer">
			<el-button @click="closeDialog(this.table, 'dialogFormVisible')">取 消</el-button>
			<el-button type="primary" @click="dialogFormVisible = false">保存</el-button>
		</div>
	</el-dialog>
	<el-dialog title="选择部门" :visible.sync="dialogTreeVisible">
		<el-tree :data="regions" :props="props" :load="loadNode" lazy show-checkbox @check-change="handleCheckChange">
		</el-tree>
		<div slot="footer" class="dialog-footer">
			<el-button @click="closeDialog(table, dialogTreeVisible)">取 消</el-button>
			<el-button type="primary" @click="dialogTreeVisible = false">确 定</el-button>
		</div>
	</el-dialog>
</div>

<style>
	.handle-box {
		margin-bottom: 20px;
	}
	.toolbar {
		margin: 5px 0;
	}
	.pagination {
		margin: 20px 0;
		text-align: center;
		/*position: fixed;
		bottom: 60px;*/
	}
</style>

<script>
	var table = new Vue({
		el: '#table',
		data: {
			tableData3: [{
				date: '2016-05-03',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-02',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-04',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-01',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-08',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-06',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-07',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-02',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-04',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-01',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-08',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-06',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-07',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-02',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-04',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-01',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-08',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-06',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}, {
				date: '2016-05-07',
				name: '王小虎',
				address: '上海市普陀区金沙江路 1518 弄'
			}],
			multipleSelection: [],
			currentPage4: 4,
			input: '',
			options: [{
				value: '选项1',
				label: '黄金糕'
			}, {
				value: '选项2',
				label: '双皮奶'
			}, {
				value: '选项3',
				label: '蚵仔煎'
			}, {
				value: '选项4',
				label: '龙须面'
			}, {
				value: '选项5',
				label: '北京烤鸭'
			}],
			value: '',
			dialogFormVisible: false,
			form: {
				name: '',
				region: '',
				date1: '',
				date2: '',
				delivery: false,
				type: [],
				resource: '',
				desc: ''
			},
			formLabelWidth: '120px',
			regions: [{
				'name': 'region1'
			}, {
				'name': 'region2'
			}],
			props: {
				label: 'name',
				children: 'zones'
			},
			count: 1,
			dialogTreeVisible: false,
			tree: ''
		},
		mounted: function() {
		},
		methods: {
			handleOpen: function(key, keyPath) {
				console.log(key, keyPath);
			},
			handleClose: function(key, keyPath) {
				console.log(key, keyPath);
			},
			toggleSelection: function(rows) {
				if(rows) {
					for(var i = 0; i < rows.length; i++) {
						this.$refs.table.toggleRowSelection(rows[i]);
					}
				} else {
					this.$refs.table.clearSelection();
				}
			},
			handleSelectionChange: function(val) {
				this.multipleSelection = val;
			},
			handleSizeChange: function(val) {
				console.log("每页 ${val} 条");
			},
			handleCurrentChange: function(val) {
				console.log("当前页: ${val}");
			},
			open: function() {
				this.$alert('这是一段内容', '标题名称', {
					confirmButtonText: '确定',
					callback: function(action) {
						this.$message({
							type: 'info',
							message: '123'
						});
					}
				});
			},
			showAddForm: function() {
				console.log('show dailog')
				this.dialogFormVisible = true;
			},
			handleCheckChange: function(data, checked, indeterminate) {
				console.log(data, checked, indeterminate);
			},
			handleNodeClick: function(data) {
				console.log(data);
			},
			loadNode: function(node, resolve) {
				if(node.level === 0) {
					return resolve([{
						name: 'region1'
					}, {
						name: 'region2'
					}]);
				}
				if(node.level > 3) return resolve([]);

				var hasChild;
				if(node.data.name === 'region1') {
					hasChild = true;
				} else if(node.data.name === 'region2') {
					hasChild = false;
				} else {
					hasChild = Math.random() > 0.5;
				}

				setTimeout(function() {
					var data;
					if(hasChild) {
						data = [{
							name: 'zone' + this.count++
						}, {
							name: 'zone' + this.count++
						}];
					} else {
						data = [];
					}

					resolve(data);
				}, 500);
			},
			showTree: function(event) {
				this.dialogTreeVisible = true;
				// 使当前元素失去焦点
				event.target.blur();
			},
			closeDialog: function(app, visibleFlag) {
				console.log(app)
				console.log(visibleFlag)
				this.$confirm('您还没有保存，是否退出?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
			  		type: 'warning'
			    }).then(function() {
					app._data[visibleFlag] = false;
			    }).catch(function() {
			    	
			    });
			}
		}
	});
</script>
</html>